/*body section */

body {
  background-color: #fff;
  text-align: center;
}
p {
  font-size: 19px;
}

#hello_text {
  margin-top: 10%;
}

#main_para {
  margin-top: 4%;
}

#info_para {
  margin-top: 2%;
}

#final_words {
  margin-top: 2%;
  margin-bottom: 10%;
}

#timeline {
  margin-left: 6%;
}

.sub_text {
  font-size: 15px;
}

.date_card {
  color: #708090;
}

/* responsive section*/

@media screen and (min-width: 700px) {
  .date_card {
    float: left;
    margin: 2%;
    margin-right: 8%;
  }
}

@media screen and (max-width: 700px) {
  #hello_text {
    margin-top: 20%;
  }

  #main_para {
    margin-top: 10%;
  }

  #info_para {
    margin-top: 10%;
  }

  #final_words {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  p {
    font-size: 16px;
  }

  .sub_text {
    font-size: 13px;
  }

  .date_value {
    float: left;
    margin-top: 2%;
  }

  .sub_text {
    float: right;
  }

  .date_card {
    margin: 2%;
    margin-bottom: 8%;
    height: 80px;
    width: 80%;
  }
}
